header#banner
  .bg-image-container
    .contrast-mask
    img#banner-img(src='/assets/images/magic-leap-whale-jump.jpg', alt='Magic Leap Whale Jump')
  .container
    .row
      .banner-title.center.col-lg-6.col-md-8
        h1 {{$ctrl.post.title}}
        h2 Posted by {{$ctrl.post.username}} on {{$ctrl.post.datetime | date}}
        p.text-light.meta Posted by {{$ctrl.post.username}} on {{$ctrl.post.datetime | date}}

.container
  .row
    .center.col-lg-6.col-md-8(data-ng-if="::$ctrl.isOwner")
      button.btn.btn-primary.margin-md(ng-click='$ctrl.editPost()') Edit
      button.pull-right.btn.btn-danger.margin-md(ng-click='$ctrl.removePost()') Delete
  .row
    .center.col-lg-6.col-md-8.post(data-ng-if="!$ctrl.isEditing")
      .content {{$ctrl.post.content}}
      hr
section.container(data-ng-if="!$ctrl.isEditing")
  .row
    form.comment-form.center.col-lg-6.col-md-8
        label Add Comment
        p.input-group
            input.form-control(type='text', placeholder='Comment', ng-model='$ctrl.comment')
            div
              span.input-group-btn
              button.btn.btn-primary(type='submit', ng-click='$ctrl.postComment($ctrl.post._id, $ctrl.comment)') Submit
  .row
    .comments.center.col-lg-6.col-md-8
        .comment.zipper(data-ng-animate="'animate'" data-ng-repeat='comment in $ctrl.comments | orderBy:datetime:true')
          span.username {{comment.username}}
          .content {{comment.content}}
          .text-secondary.datetime
            span(am-time-ago="comment.datetime")
          hr

form.post-form(data-ng-if="$ctrl.isEditing")
    label Submit a post
    p.input-group
        input.form-control(type='text', placeholder='Title', ng-model='$ctrl.post.title')
        input.form-control(type='text', placeholder='Content', ng-model='$ctrl.post.content')
        span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='$ctrl.upsertPost()') Submit