#navbar-static-top {
    position: absolute;
    color: white;
    top: 0px;
    z-index: 1;
    font-weight: bold;
    width: 100%;
    a, p{ 
        color: white;
        &:hover, &:active, &:visited, &:focus {
            background: transparent;
        }
    }
}

.opaque #navbar-static-top {
    position: relative;
    
    a, p{ 
        color: black;
        &:hover, &:active, &:visited, &:focus {
            background: transparent;
        }
    }
}
.navbar-toggle {
    float:right;
    border-color:white;
    .icon-bar {
        background-color: white;
    }
}
.navbar-right {
    text-align: right;
}
