header#banner
  .bg-image-container
    .contrast-mask
    img(src='/assets/images/magic-leap-whale-jump.jpg', alt='Magic Leap Whale Jump')
  .banner-title
    h1 Magic Leap
    p.lead Welcome to the future

.container
  .row(ng-repeat='post in $ctrl.awesomePosts')
    a(href='#', uib-tooltip='{{post.title}}')
      | {{post.title}}
    div {{post.content}}
    hr

  form.post-form
    label Submit a post
    p.input-group
      input.form-control(type='text', placeholder='Title', ng-model='$ctrl.postTitle')
      input.form-control(type='text', placeholder='Content', ng-model='$ctrl.postContent')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='$ctrl.addPost()') Add New
